.footer {
	background-color: $footer-bg;
    color: white;
    font-size: 14px;
    padding: 0 0 30px;

    @include media(w768) {
        padding: 0 0 20px;
    }

    .footer-pc {

        @include media(w1024) {
            display: none;
        }
    }

    .footer-mobile {
        display: none;

        @include media(w1024) {
            display: block;
        }

        @include media(w768) {
            line-height: 1.6;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &_m {
            flex-wrap: wrap;

            @include media(w768) {
                flex-direction: column;
            }
        }
    }

    &__text {

        &_name {
            white-space: nowrap;
        }

    }
    
    &__block {
        display: flex;
        padding: 0 20px;

        &_info {
            flex-direction: column;
        }

        &_mail {
            white-space: nowrap;
        }

        &_adress {
            flex-direction: column;
        }

        &_contacts {
            flex-direction: column;
            align-items: flex-end;
            flex-shrink: 0;
        }
    }

    &__link {
        transition: $trans;
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }

        &_getcall {
            border-bottom: 1px dotted currentColor;
            font-size: 17px;
            padding-top: 5px;
            padding-bottom: 4px;

            @include media(w1024) {
                display: inline-block;
            }

            @include media(w768) {
                padding-top: 0;
                padding-bottom: 2px;
            }
        }

        &_politic {
            text-decoration: underline;
        }
    }

    &__social {
        display: flex;
        align-items: center;

        @include media(w768) {
            justify-content: center;
        }
    }

    &__social-title {
        margin-right: 10px;
    }

    &__social-item {
        display: inline-block;
        font-size: 18px;
        margin-right: 4px;
    }

    &__phone {
        font-size: 25px;
        transition: $trans;
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }

        @include media(w1024) {
            font-size: 26px;
            margin-right: 0;
        }
    }

    &__mblock {
        display: flex;

        &_top {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;

            @include media(w768) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }

        &_name {
            flex-direction: column;
            padding-right: 20px;
            width: 40%;

            @include media(w768) {
                padding-right: 0;
                width: 100%;
            }
        }

        &_adress {
            flex-direction: column;
            padding-right: 20px;
            width: 60%;

            @include media(w768) {
                padding-right: 0;
                width: 100%;
            }
        }

        @include media(w768) {
            text-align: center;
        }
    }
}