.header {
    margin-bottom: 100px;

    @include media(w1024) {
        margin-bottom: 60px;
    }

    @include media(w768) {
        margin-bottom: 20px;
    }
	
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        width: 100%;

        @include media(w768) {
            flex-wrap: wrap;
        }
    }

    &__item {
        width: calc(100% / 3);

        &_contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &:first-child {

            @include media(w768) {
                width: 50%;
                order: 1;
            }
        }

        &:nth-child(2) {

            @include media(w768) {
                order: 3;
                width: 100%;
            }
        }

        &:last-child {

            @include media(w768) {
                width: 50%;
                order: 2;
            }
        }

        @include media(w768) {
            margin-bottom: 20px;
        }
    }

    &__descr {
        line-height: 1.6;
    }

    &__logo {
        display: block;
    }

    &__logo-img {
        display: block;

        @include media(w1024) {
            width: 194px;
        }

        @include media(w768) {
            width: 144px;
        }
    }

    &__link {
        color: white;
    }
}