.sec3 {
    //background-image: linear-gradient(to top, )
    padding-top: 60px;
    padding-bottom: 100px;

    @include media(w1024) {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @include media(w768) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__list-item {
        margin-bottom: 30px;
        padding: 0 20px;
        width: calc(100% / 3);

        @include media(w1024) {
            margin-bottom: 50px;
            width: 50%;
        }

        @include media(w768) {
            width: 100%;
        }

        &:last-child {

            @include media(w768) {
                margin-bottom: 20px;
            }
        }
    }

    &__list-img {
        display: flex;
        align-items: flex-end;
        margin: 0 auto 30px;
        max-height: 210px;
        height: 210px;
        max-width: 90%;

        @include media(w1024) {
            height: 150px;
            min-height: none;
            max-height: 150px;
        }

        @include media(w768) {
            max-height: none;
            max-width: none;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 100%;

            @include media(w1024) {
                width: auto;
                max-width: 280px;
            }

            @include media(w768) {
                width: 100%;
                max-width: 275px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 60px;
    }

    &__btn-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 80px;

        @include media(w1024) {
            padding-top: 40px;
        }

        @include media(w768) {
            flex-direction: column;
            padding-top: 0;
        }
    }

    &__btn-block-text {
        flex-shrink: 1;
        text-align: left;
        padding-right: 20px;

        @include media(w768) {
            text-align: center;
            margin-bottom: 20px;
            padding-right: 0;
        }
    }

    &__btn {
        flex-shrink: 0;
    }
}