button {
    white-space: nowrap;

    &.btn-round {
        outline: none;
    }
}

a {

    &.btn-round {
        display: inline-flex;
        align-items: center;
    }
}

.btn-round {
    transition: $trans;
    background-color: $main-pink;
    border-radius: 40px;
    border: none;
    border-bottom: 3px solid #bd0665;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    padding: 6px 35px 0;
    height: 80px;

    &:hover {
        //animation: btnAnimRed 0.8s 0s ease-out 1;
        background-color: $btn-hover;
        border-color: $btn-border-hover;
    }

    @include media (w1024) {
        border-radius: 32px;
        font-size: 20px;
        height: 64px;
    }

    @include media (w768) {
        border-radius: 25px;
        font-size: 15px;
        padding: 6px 20px 0;
        height: 50px;
    }

    &_white {
        background-color: white;
        border-color: #c4c4c4;
        color: $main-pink;

        &:hover {
            //animation: btnAnimWhite 0.8s 0s ease-out 1;
            background-color: $main-pink;
            border-color: #bd0665;
            color: white;
        }
    }

    &_download {
        background-image: url("../img/icon-download.svg");
        background-position: right 35px center;
        background-repeat: no-repeat;
        background-size: 50px;
        padding-right: 100px;
        position: relative;

        &:after {
            content: "PDF, 15Mb";
            font-size: 30px;
            position: absolute;
            left: calc(100% + 20px);
            white-space: nowrap;

            @include media (w1024) {
                font-size: 18px;
            }

            @include media (w768) {
                content: none;
            }
        }

        @include media (w768) {
            background-position: right 10px center;
            background-size: 30px;
            padding-right: 50px;
        }
    }

    &_download-column {
        margin-bottom: 50px;

        &:after {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: calc(100% + 10px);
        }
    }

    &_clear {
        
        &:after {
            content: none;
        }
    }
}

@keyframes btnAnimRed {
    from {
        box-shadow: 0 0 8px 6px $main-pink, 0 0 12px 14px $main-pink;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(246, 8, 131, 0), 0 0 4px 71px rgba(246, 8, 131, 0);
    }
}

@keyframes btnAnimWhite {
    from {
        box-shadow: 0 0 8px 6px white, 0 0 12px 14px white;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}