.thanks {
    background-image: $blue-bg;
    padding-top: 30px;
    //padding-bottom: 160px;

    @include media(w1024) {
        //padding-bottom: 200px;
    }

    &__decor.thanks__decor {
        padding-bottom: 120px;

        .sec1__wave_1 {
            bottom: 0;
        }

        .sec1__wave_2 {
            bottom: 30px;
        }

        .sec1__wave_3 {
            bottom: 50px;
        }

        .sec1__wave_4 {
            bottom: 110px;
        }
    }

    &__heading {
        font-weight: bold;
        font-size: 64px;
        padding-bottom: 0.4em;

        @include media(w1024) {
            font-size: 40px;
        }

        @include media(w768) {
            font-size: 30px;
        }
    }

    &__title {
        font-size: 36px;
        margin-bottom: 1em;

        @include media(w1024) {
            font-size: 30px;
        }

        @include media(w768) {
            font-size: 26px;
        }
    }

    &__subtitle {
        font-size: 38px;
        margin-bottom: 1em;

        @include media(w1024) {
            font-size: 30px;
        }

        @include media(w768) {
            font-size: 20px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 30px;
        width: 100%;

        @include media(w768) {
            flex-direction: column;
        }
    }

    &__buttons-download {
        margin-right: 30px;

        @include media(w768) {
            margin: 0 0 20px 0;
        }
    }

    &__buttons-link {
        color: white;
        font-size: 30px;
        margin-left: 60px;

        @include media(w768) {
            font-size: 20px;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__btn {
        justify-content: center;
    }
}