.ta-center {
    text-align: center;
}

.tt-uppercase {
    text-transform: uppercase;
}

.color-white {
    color: white;
}

.color-pink {
    color: $main-pink;
}

.color-brown {
    color: $main-brown;
}

.color-gold {
    color: $main-gold;
}

.selected {
    border-bottom: 3px solid white;
    font-weight: bold;
}

.ebold {
    font-weight: 800;
}
.bold {
    font-weight: bold;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}