$trans: all 0.3s ease;
$wave-padding: 300px;

$blue-bg: linear-gradient(to bottom, #008bbc, #95dbf8);
$main-red: #ff2727;
$main-pink: #f60883;
$main-brown: #c6b1a1;
$main-gold: #f4c589;
$footer-bg: #006e9d;
$footer-text: #8e8e8e;
$input-border: #767676;
$input-text: $input-border;
$btn-hover: #fa5eae;
$btn-border-hover: #c04886;