$trans: all 0.3s ease;
$wave-padding: 300px;

$blue-bg: linear-gradient(to bottom, #008bbc, #95dbf8);
$main-red: #ff2727;
$main-pink: #f60883;
$main-brown: #c6b1a1;
$main-gold: #f4c589;
$footer-bg: #2b2a28;
$footer-text: #8e8e8e;