footer.footer
    div.footer-pc
        div.container.footer__container
            div.footer__block.footer__block_info
                p.footer__text.footer__text_name.mb0.
                    © 2017, «Королевские беседы»
                div.footer__social
                    p.footer__social-title.mb0.
                        Мы в соц. сетях
                    ul.footer__social-list
                        li.footer__social-item
                            a(href="https://vk.com/razvitie_rebenka_kazan" target="_blank").footer__link.footer__social-link
                                i.fa.fa-vk
                        li.footer__social-item
                            a(href="http://razvitie-rebenka-kazan.ru/" target="_blank").footer__link.footer__social-link
                                i.fa.fa-globe
                        li.footer__social-item
                            a(href="https://www.instagram.com/royalcours/" target="_blank").footer__link.footer__social-link
                                i.fa.fa-instagram
            div.footer__block.footer__block_adress
                p.mb0.
                    Адрес: г. Казань, ул. Соловецких Юнг 1, 1 этаж
                a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                    Политика конфиденциальности
            div.footer__block.footer__block_mail
                |e-mail:
                a(href="mailto:franch@razvitie-rebenka-kazan.ru").footer__link.
                    franch@razvitie-rebenka-kazan.ru
            div.footer__block.footer__block_contacts
                a(href="tel:88432260109" data-phone="88432260109").footer__phone.
                    8(843) 2260109
                a(href="").footer__link.footer__link_getcall.js-small-btn.
                    Заказать звонок
    div.footer-mobile
        div.container.footer__container.footer__container_m
            div.footer__mblock.footer__mblock_top
                a(href="tel:88432260109" data-phone="88432260109").footer__phone.
                    8(843) 2260109
                a(href="").footer__link.footer__link_getcall.js-small-btn.
                    Заказать звонок
                p.mb0
                    |e-mail:
                    a(href="mailto:franch@razvitie-rebenka-kazan.ru").footer__link.
                        franch@razvitie-rebenka-kazan.ru
            div.footer__mblock.footer__mblock_name
                p.footer__text.footer__text_name.mb0.
                    © 2017, «Королевские беседы»
                div.footer__social
                    p.footer__social-title.mb0.
                        Мы в соц. сетях
                    ul.footer__social-list
                        li.footer__social-item
                            a(href="https://vk.com/razvitie_rebenka_kazan" target="_blank").footer__link.footer__social-link
                                i.fa.fa-vk
                        li.footer__social-item
                            a(href="http://razvitie-rebenka-kazan.ru/" target="_blank").footer__link.footer__social-link
                                i.fa.fa-globe
                        li.footer__social-item
                            a(href="https://www.instagram.com/royalcours/" target="_blank").footer__link.footer__social-link
                                i.fa.fa-instagram
            div.footer__mblock.footer__mblock_adress
                p.mb0.
                    Адрес: г. Казань, ул. Соловецких Юнг 1, 1 этаж
                a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                    Политика конфиденциальности