section.sec.sec1
    include header
    div.container.ta-center.color-white
        h2.
            Франшиза детской языковой школы
        p.text.text_xl.sec1__subtitle.
            Зарабатывайте <span class="selected">3 млн рублей в год</span> на обучении детей английскому и французскому!
        a(href="").btn-round.js-small-btn.
            Скачать презентацию PDF
    div.sec1__decor
        div.sec1__clouds
        div.sec1__decor-block.sec1__decor-block_left
            img(src="img/sec1-left-place.svg", alt="").sec1__decor-place.sec1__decor-place_left
            img(src="img/sec1-women.svg", alt="").sec1__person.sec1__person_women
        div.sec1__decor-block.sec1__decor-block_right
            img(src="img/sec1-right-place.svg", alt="").sec1__decor-place.sec1__decor-place_right
            img(src="img/sec1-men.svg", alt="").sec1__person.sec1__person_men
        div.sec1__wave.sec1__wave_1
        div.sec1__wave.sec1__wave_2
        div.sec1__wave.sec1__wave_3
        div.sec1__wave.sec1__wave_4