section.sec.sec2
    div.container.sec2__container
        div.sec2__note-wrap
            div.sec2__note
                div.sec2__note-item.sec2__note-item_text
                    h3.color-pink.ebold.
                        Родители регулярно инвестируют
                    p.text.text_l.color-brown.bold.mb1.
                        в образование своих детей
                    p.text.text_s.mb2.
                        Мудрые родители знают: в раннем возрасте ребёнок впитывает знания как губка. И важно дать ему доступ к знаниям в комфортной среде.
                    p.text.text_m.sec2__note-boxes.bold.mb0.
                        Языковые и развивающие  центры с индивидуальным подходом к детям – лучшее решение для заботливых родителей
                div.sec2__note-item.sec2__note-item_img
                    div.sec2__note-img
            p.text.text_m.sec2__note-boxes.sec2__note-boxes_mobile.bold.mb0.
                Языковые и развивающие  центры с индивидуальным подходом к детям – лучший выход для заботливых родителей
    div.container
        div.sec2__info
            div.sec2__info-item.sec2__info-item_img
                img(src="img/sec2-flag.png", alt="").sec2__info-img
            div.sec2__info-item.sec2__info-item_text
                p.text.text_l.color-gold.bold.
                    В академии развития «Королевские беседы»
                h3.color-white.ebold.mb0.
                    Дети учат два иностранных языка одновременно