section.sec.sec3
    div.container.ta-center
        p.text.text_xxl.color-pink.bold.
            Королевские беседы – это параллельное изучение английского и французского с раннего детства, и практика языка за рубежом
        p.text.text_l.color-brown.bold.mb1.sec3__subtitle.
            Обучение у нас дарит детям возможность получить образование в лучших вузах мира!
        div.sec3__list
            div.sec3__list-item
                div.sec3__list-img
                    img(src="img/sec3-img1.png", alt="")
                div.sec3__list-text
                    p.text.text_xs.
                        Занятия проходят в группах по 6-9 человек – мы работаем как с дошкольниками, так и со школьниками
            div.sec3__list-item
                div.sec3__list-img
                    img(src="img/sec3-img2.png", alt="")
                div.sec3__list-text
                    p.text.text_xs.
                        Программа состоит из 2 циклов и 6 ступеней развития
            div.sec3__list-item
                div.sec3__list-img
                    img(src="img/sec3-img3.png", alt="")
                div.sec3__list-text
                    p.text.text_xs.
                        Обучение основано на активной практике: в классе, в летних лагерях и на выезде за границу
            div.sec3__list-item
                div.sec3__list-img
                    img(src="img/sec3-img4.png", alt="")
                div.sec3__list-text
                    p.text.text_xs.
                        Обучение одновременно двум  языкам оплачивается в двойном размере и приносит двойную выгоду
            div.sec3__list-item
                div.sec3__list-img
                    img(src="img/sec3-img5.png", alt="")
                div.sec3__list-text
                    p.text.text_xs.
                        Отдать ребёнка на обучение к нам может почти каждая семья: средний чек равен 3 200 рублей/месяц!
            div.sec3__list-item
                div.sec3__list-img
                    img(src="img/sec3-img6.png", alt="")
                div.sec3__list-text
                    p.text.text_xs.
                        Это позволяет нам зарабатывать в среднем 237 000 рублей ежемесячно с каждого центра
        div.sec3__btn-block
            p.text.text_l.sec3__btn-block-text.mb0.color-pink.bold.
                Узнайте больше из нашей презентации
            a(href="").btn-round.js-small-btn.sec3__btn.
                Скачать презентацию PDF