section.sec.sec4
    div.container.color-white.sec4__container
        h3.ebold.ta-center.mb1.
            Если вы осознаёте ценность достойного образования ребёнка – станьте нашим партнёром!
        p.text.text_l.bold.mb1.sec4__subtitle-mobile.
            Откройте свою детскую академию развития под брендом «Королевские беседы» – подарите детям вашего города шанс стать успешными в будущем
        div.sec4__row
            div.sec4__col.sec4__col_text
                p.text.text_l.bold.mb1.sec4__subtitle.
                    Откройте свою детскую академию развития под брендом «Королевские беседы» – подарите детям вашего города шанс стать успешными в будущем
                p.text.text_s.mb2.
                    Мы поможем подобрать помещение, нанять преподавателей и привлечь внимание родителей уже на второй месяц после старта!
                a(href="").btn-round.btn-round_white.js-small-btn.sec4__btn.
                    Узнать подробнее
            div.sec4__col.sec4__col_gallery
                div.sec4__gallery-wrap
                    div.sec4__gallery
                        div.sec4__gallery-item
                            img(src="img/sec4-img1.jpg", alt="").sec4__gallery-img
                        div.sec4__gallery-item
                            img(src="img/sec4-img2.jpg", alt="").sec4__gallery-img
                        div.sec4__gallery-item
                            img(src="img/sec4-img3.jpg", alt="").sec4__gallery-img
                        div.sec4__gallery-item
                            img(src="img/sec4-img4.jpg", alt="").sec4__gallery-img
                        div.sec4__gallery-item
                            img(src="img/sec4-img5.jpg", alt="").sec4__gallery-img
                        div.sec4__gallery-item
                            img(src="img/sec4-img6.jpg", alt="").sec4__gallery-img
                        div.sec4__gallery-item
                            img(src="img/sec4-img7.jpg", alt="").sec4__gallery-img
                    div.sec4__gallery-note
                        p.text.text_s.mb0.
                            Посмотрите как будет выглядеть ваш бизнес или ваш детский центр 