section.sec.sec5
    div.container
        h3.ebold.ta-center.mb1.color-pink.
            С нашей франшизой вы получаете всё для открытия успешного бизнеса
        div.sec5__list
            div.sec5__list-item
                img(src="img/sec5-img1.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Готовую бизнес модель, основанную на стандартах качества
            div.sec5__list-item
                img(src="img/sec5-img2.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Руководство для франчайзи с пошаговым описанием бизнес процессов
            div.sec5__list-item
                img(src="img/sec5-img3.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Подключение к единому порталу, и CRM
            div.sec5__list-item
                img(src="img/sec5-img4.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Онлайн-доступ 24/7 к базе рабочих документов
            div.sec5__list-item
                img(src="img/sec5-img5.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Кейсы авторских методик и развивающих программ по всем направлениям
            div.sec5__list-item
                img(src="img/sec5-img6.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Методическое сопровождение сотрудников, система контроля качества результатов
            div.sec5__list-item
                img(src="img/sec5-img7.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Полный набор рекламных материалов
            div.sec5__list-item
                img(src="img/sec5-img8.png", alt="").sec5__list-img
                p.text.text_xs.sec5__list-text.
                    Скайп консультации и поддержка startup-менеджера