section.sec.sec6
    div.container.sec6__container
        p.text.text_l.color-pink.bold.mb0.
            Следуйте нашим рекомендациям и открывайте свой центр детского развития уже через 5 недель!
        a(href="").btn-round.js-small-btn.sec4__btn.
            Получить рекомендации

            