section.sec.sec7
    div.container.sec7__container
        h3.ebold.ta-center.mb1.color-pink.ta-center.
            Инвестируя в образование – вы получаете долгосрочный источник прибыли
        p.text.text_l.color-brown.bold.mb1.ta-center.
            Для старта вам потребуется:
        div.sec7__money
            div.sec7__money-text
                div.sec7__money-block.sec7__money-block_left
                    p.sec7__money-big-text.mb0.
                        500 000 руб.
                    p.sec7__money-small-text.
                        на приобретение франшизы «Королевские беседы»
                div.sec7__money-block.sec7__money-block_right
                    p.sec7__money-big-text.mb0.
                        450 000 руб.
                    p.sec7__money-small-text.
                        на ремонт помещения, рекламу и мелкие расходы
            div.sec7__money-circle
        div.sec7__btn-block
            p.text.text_m.mb0.
                Используйте наш опыт по-максимуму, и окупайте вложения уже на восьмой месяц работы!
            a(href="").btn-round.js-small-btn.sec3__btn.
                Получить расчет инвестиций