section.sec.sec8
    div.container
        h2.color-white.ta-center.
            Если вы любите детей, и мечтаете о бизнесе – дерзайте, у вас получится!
        p.text.text_xl.sec1__subtitle.color-white.ta-center.mb2.
            Заработайте <span class="selected">3 млн рублей</span> на дополнительном образовании уже в первый год работы
        include bottom-form
    div.sec8__decor
        div.sec1__clouds
        div.sec8__decor-block
            img(src="img/sec8-bg.svg", alt="").sec8__decor-place
        div.sec1__wave.sec1__wave_1
        div.sec1__wave.sec1__wave_2
        div.sec1__wave.sec1__wave_3
        div.sec1__wave.sec1__wave_4